{% extends 'classificados-na-web/index.html' %}

{% block conteudo_extra %}
    <div class="container">
        <h4>Histórico de Anúncios</h4>
    </div>
{% endblock conteudo_extra %}

{% block cartao %}
    {% for anuncio in object_list %}
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado: miniatura"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    {% if anuncio.imagem %}
                        <image href="{% url 'classificados-na-web:imagem-anuncio' anuncio.id %}"
                               width="100%" height="100%"></image>
                    {% else %}
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Sem Imagem</text>
                    {% endif %}
                </svg>

                <div class="card-body">
                    <p class="card-text">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{ anuncio.titulo }}</font><font
                                style="vertical-align: inherit;"></font></font>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary"
                               href="{% url 'classificados-na-web:d-anuncio' anuncio.id %}"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">Visualizar</font></font>
                            </a>
                            {% if not anuncio.disponibilidade_anuncio %}
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="#"><font
                                        style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Renovar</font></font>
                                </a>
                            {% endif %}
                        </div>
                        <small class="text-muted">
                            {% block data %}
                                <font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">{{ anuncio.data_criacao }}</font></font>
                            {% endblock data %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock cartao %}